:root {
  --web-studio-black: #212121;
  --web-studio-blue: #2196f3;
  --web-studio-white: #ffffff;
  --web-studio-white2: #f5f4fa;
  --web-studio-gray: #757575;
}
body {
  color: var(--web-studio-black);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.48px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ECECEC;
}
.header-logo {
  color: var(--web-studio-blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.header-span {
  color: var(--web-studio-black);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-list-link {
  color: var(--web-studio-black);
  font-size: 14px;
  letter-spacing: 0.28px;
}
.nav-list-link:hover {
  color: var(--web-studio-blue);
}
.contact-list {
  display: flex;
  gap: 50px;
}
.contact-list-link {
  color: var(--web-studio-gray);
  font-size: 14px;
  letter-spacing: 0.28px;
}
.contact-list-link:hover {
  color: var(--web-studio-blue);
}
.main {
  padding: 94px 0;
}
.main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main-btn {
  color: var(--web-studio-black);
  text-align: center;
  line-height: 1.6;
  background-color: var(--web-studio-white2);
  border: none;
  border-radius: 4px;
  padding: 6px 25px;
}
.main-btn:hover {
  color: var(--web-studio-white);
  background-color: var(--web-studio-blue);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.main-list {
  margin: 50px 0 0;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
}
.main-list-item {
  flex-basis: calc((100% - 60px)/3);
}
.info {
  width: 370px;
  border: 1px solid #eee;
  background-color: var(--web-studio-white);
}
.info-img {
  width: 370px;
  height: 294px;
}
.info-title {
  color: var(--web-studio-black);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin: 20px 0 4px;
  padding: 0 24px;
}
.info-text {
  color: var(--web-studio-gray);
  font-weight: 400;
  line-height: 1.9;
  padding: 0 24px 20px;
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-logo {
  color: var(--web-studio-blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}
.footer-span {
  color: var(--web-studio-white);
}
.footer-adress {
  color: var(--web-studio-white);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
