.header .container, .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

.header {
  padding: 24px 0 25px;
}
.header__span--studio {
  color: #212121;
}
.header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.nav-list__item {
  position: relative;
}
.nav-list__link {
  color: #212121;
  font-weight: 500;
  -webkit-transition: 220ms cubic-bezier(0.6, 0, 0.4, 1);
  transition: 220ms cubic-bezier(0.6, 0, 0.4, 1);
}
.nav-list__link:hover {
  color: #2196f3;
}
.nav-list__link::after {
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
  width: 0;
  height: 4px;
  position: absolute;
  top: 45px;
  left: 0;
  -webkit-transition: width 220ms cubic-bezier(0.6, 0, 0.4, 1);
  transition: width 220ms cubic-bezier(0.6, 0, 0.4, 1);
}
.nav-list__link:hover::after {
  width: 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 49px;
}
.contact__link {
  color: #757575;
  font-weight: 500;
}
.contact__link:hover svg {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon {
  fill: #757575;
  margin-right: 11px;
}
.contact__icon--email {
  width: 16px;
  height: 12px;
}
.contact__icon--phone {
  width: 16px;
  height: 12px;
}

.contact-email:hover svg,
.contact-tel:hover svg {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main {
  padding: 94px 0;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.main-btn {
  color: #212121;
  text-align: center;
  line-height: 1.6;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 25px;
}
.main-btn:hover {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list {
  margin: 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-list__item {
  border: 1px solid #eee;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-list__item:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-list__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-list__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin: 20px 0 4px;
  padding: 0 24px;
}
.main-list__text {
  color: #757575;
  font-weight: 400;
  line-height: 1.9;
  padding: 0 24px 20px;
}

.thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.overlay-box__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 62px 23px;
  width: 100%;
  height: 294px;
}

.main-list__item:hover .overlay-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16px;
}
.footer-contacts__logo {
  margin-bottom: 20px;
}
.footer-contacts__logo--studio {
  color: #fff;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}
.address__city {
  color: #fff;
  line-height: 1.7;
}
.address__contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.networks-list__item {
  display: inline-block;
  padding: 12px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__item:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.networks-list__icon--footer {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.footer-subscribe {
  position: relative;
  left: 0;
  top: 5px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 12px;
}
.footer-form__label {
  font-weight: 700;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}
.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  padding: 13px 15px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 30px;
  background-color: #2196f3;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer-form__icon {
  width: 21px;
  height: 21px;
  fill: #fff;
}/*# sourceMappingURL=portfolio.css.map */