:root {
  --web-studio-black: #212121;
  --web-studio-blue: #2196f3;
  --web-studio-white: #ffffff;
  --web-studio-white2: #f5f4fa;
  --web-studio-gray: #757575;
}
body {
  color: var(--web-studio-black);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  padding: 24px 0 25px;
}
.header-logo {
  color: var(--web-studio-blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 25px;
}
.header-span {
  color: var(--web-studio-black);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 25px;
}
.nav-list {
  padding-bottom: 32px;
}
.list {
  padding-bottom: 32px;
}
.nav-list-link {
  color: var(--web-studio-black);
  font-weight: 500;
}
.nav-list-link:hover {
  color: var(--web-studio-blue);
}
.list-link {
  color: var(--web-studio-black);
  font-weight: 500;
}
.list-link:hover {
  color: var(--web-studio-blue);
}
.hero {
  background-color: #2f303a;
  padding: 200px 0;
}
.hero-title {
  color: var(--web-studio-white);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-btn {
  color: var(--web-studio-white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;

  width: 216px;
  height: 50px;
  background-color: var(--web-studio-blue);
  border: 4px;
}
.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-section-title {
  color: var(--web-studio-black);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-section-text {
  color: var(--web-studio-gray);
  line-height: 1.7;
}
.features {
  padding-bottom: 94px;
}
.features-title {
  color: var(--web-studio-black);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}
.features-img {
  width: 370px;
  height: 294px;
}
.features-list {
  display: flex;
}
.team {
  background: var(--web-studio-white2);
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-title {
  color: var(--web-studio-black);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}
.team-list-item {
  padding-bottom: 30px;
}
.team-info {
  width: 270px;
  height: 368px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}
.team-img {
  width: 270px;
  height: 260px;
}
.team-name {
  color: var(--web-studio-black);
  text-align: center;
  font-weight: 500;
  margin: 30px 0 10px;
}
.team-prof {
  color: var(--web-studio-gray);
  text-align: center;
}
.team-list {
  display: flex;
}
.footer {
  background-color: #2f303a;
  padding: 60px 0 ;
}
.footer-logo {
  color: var(--web-studio-blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-span {
  color: var(--web-studio-white);
}
.footer-adress {
  color: var(--web-studio-white);
  line-height: 1.7;
  margin-bottom: 9px;
}
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}
