.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  gap: 30px;
}
.features-list__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: getColor("light");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.features-list__item:first-child::before {
  background-image: url("../images/features/antenna.svg");
}
.features-list__item:nth-child(2)::before {
  background-image: url("../images/features/clock.svg");
}
.features-list__item:nth-child(3)::before {
  background-image: url("../images/features/diagram.svg");
}
.features-list__item:last-child::before {
  background-image: url("../images/features/astronaut.svg");
}
.features-list__item {
  max-width: 270px;
}
.features__title {
  color: getColor("black");
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  color: getColor("gray");
  line-height: 1.7;
}
