.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}
.header__logo {
  color: getColor("hover");
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.header__span {
  color: getColor("black");
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-list__item {
  position: relative;
}

.nav-list__link {
  color: getColor("black");
  font-weight: 500;
  transition: 220ms cubic-bezier(0.6, 0, 0.4, 1);
}

.nav-list__link::after {
  content: "";
  background-color: getColor("hover");
  border-radius: 2px;
  width: 0;
  height: 4px;
  position: absolute;
  top: 45px;
  left: 0;
  transition: width 220ms cubic-bezier(0.6, 0, 0.4, 1);
}
.nav-list__link:hover::after {
  width: 100%;
}

.nav-list__link:hover {
  color: getColor("hover");
}
.contact-list {
  display: flex;
  gap: 50px;
}
.contact-social__link {
  color: getColor("gray");
  font-weight: 500;
}
.contact-social__link:hover {
  color: getColor("hover");
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-email__icon,
.contact-tel__icon {
  fill: getColor("gray");
  margin-right: 11px;
}
.contact-email:hover svg,
.contact-tel:hover svg {
  fill: getColor("hover");
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
