.header  {
  display: flex;
  padding: 24px 0 25px;
  &__span--studio {
  color: getColor("black");
}
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  color: getColor("hover");
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  &__item {
  position: relative;
}
&__link {
  color: getColor("black");
  font-weight: 500;
  transition: 220ms cubic-bezier(0.6, 0, 0.4, 1);
  &:hover {
    color: getColor("hover");
  }
  &::after {
    content: "";
    background-color: getColor("hover");
    border-radius: 2px;
    width: 0;
    height: 4px;
    position: absolute;
    top: 45px;
    left: 0;
    transition: width 220ms cubic-bezier(0.6, 0, 0.4, 1);
  }
  &:hover::after {
  width: 100%;
}
}
}

.contact {
  display: flex;
  gap: 49px;
  &__link {
  color: getColor("gray");
  font-weight: 500;
  &:hover svg {
  fill: getColor("hover");
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover {
  color: getColor("hover");
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
&__icon {
  fill: getColor("gray");
  margin-right: 11px;
}
&__icon--email {
  width: 16px;
  height: 12px;
}
&__icon--phone {
  width: 16px;
  height: 12px;
}
}

.contact-email:hover svg,
.contact-tel:hover svg {
  fill: getColor("hover");
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

