.hero {
  background-color: getColor("black");
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__overlay {
    padding: 118px 0;
    background-color: rgba(47, 48, 58, 0.4);

    @media (min-width: 1200px) {
      padding: 200px 0;
    }
  }
  &__title {
    max-width: 360px;
    color: getColor("white");
    @include text(26px, 900, 1.36, 0.06em, center, uppercase);
    margin: 0 auto 30px;

    @media (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
    }
  }
  &__btn {
    @include btn(200px);
    @include text(16px, 700, 1.87, 0.06em, center);
    margin: 0 auto;

    @media (min-width: 1200px) {
      @include btn(216px);
    }
  }
}
