.team {
  background: getColor("light");
  padding-bottom: 94px;
  padding-top: 94px;
  &__title {
  color: getColor("black");
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}
}

.team-list {
  display: flex;
  gap: 30px;
  &__item {
  padding-bottom: 30px;
 }
 &__info {
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  &:hover {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}
&__img {
  width: 270px;
  height: 260px;
}
&__name {
  color: getColor("black");
  text-align: center;
  font-weight: 500;
  margin: 30px 0 10px;
}
&__prof {
  color: getColor("gray");
  text-align: center;
}
}

.networks-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  &__item {
    padding: 12px;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: getColor("hover");
    }
    &:hover svg {
      fill: getColor("white");
    }
  }
  &__icon {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    &:hover {
      fill: getColor("white");
    }
  }
}





